{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}{% endblock %}

{% block content %}

<div style="margin: 5%; padding: 5%; content: center; text-align: center; background-color: lightblue; border: 3px solid lightgray; border-radius: 25px;">
  <h1 style="color: black;">{{ 'Redefinição de senha completa' }}</h1>
  <p>Sua senha foi definida. Você pode ir em frente e entrar agora.</p>
</div>


{% endblock %}
