{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}{% endblock %}
{% block content %}

<div style="margin: 10%; padding: 5%; content: center; text-align: center; background-color: lightblue; border: 3px solid lightgray; border-radius: 25px;">
  <h1>{{ title }}</h1>
  <p>{% trans "Enviamos-lhe instrucoes para definir a sua senha, se existir uma conta com o email que introduziu. Voce deve recebe-los em breve." %}</p>
  <p>{% trans " Se voce nao receber um email, verifique se digitou o endereco registrado e verifique sua pasta de spam" %}</p>
</div>
{% endblock %}
