{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<img src="https://i.imgur.com/hAiMLBy.png">

</div>
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}{% endblock %}

{% block content %}

<div style="margin: 5%; padding: 5%; content: center; text-align: center; background-color: #79aec8; border: 3px solid lightgray; border-radius: 25px;">
  <h1 style="color: white;">{{ 'Redefinição de senha completa' }}</h1>
  <p style="color: white;">Sua senha foi definida. Você pode ir em frente e entrar agora.</p>
</div>


{% endblock %}
