{% load i18n %}{% autoescape off %}
{% blocktrans %}Você está recebendo este e-mail porque solicitou uma redefinição de senha para sua conta de usuário no aplicativo Integra.{% endblocktrans %}

{% trans "Por favor, vá para a página seguinte e escolha uma nova senha:" %}
{% block reset_link %}
{{ protocol }}://{{ 'integra-vendas-login.herokuapp.com' }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "Obrigado por usar nosso app!" %}

{% blocktrans %}Equipe Integra.{% endblocktrans %}

{% endautoescape %}
