{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<img src="https://i.imgur.com/hAiMLBy.png">

</div>
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}{% endblock %}
{% block content %}

<div style="margin: 5%; padding: 5%; content: center; text-align: center; background-color: #79aec8; border: 3px solid lightgray; border-radius: 25px;">
<h1 style="color: white;">{{ 'Esqueceu sua senha?' }}</h1>
<p style="color: white;">{% trans "Insira o email para trocar sua senha." %}</p>
<form method="post">{% csrf_token %}
<fieldset>
    <div class="form-row field-email">
        {{ form.email.errors }}
        <label style="color: white;" for="id_email">{% trans 'Endereço de email:' %}</label>
        {{ form.email }}
    </div>
    <input type="submit" style="background-color: white; color: #79aec8; margin-top:20px;" value="{% trans 'Trocar senha' %}">
</fieldset>
</form>
</div>

{% endblock %}
