{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<img src="https://i.imgur.com/hAiMLBy.png">

</div>
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}{% endblock %}
{% block content %}

{% if validlink %}
<div style="margin: 5%; padding: 5%; content: center; text-align: center; background-color: #79aec8; border: 3px solid lightgray; border-radius: 25px;">

  <h1 style="color: white;">{{ 'Insira uma nova senha' }}</h1>

  <p style="color: white;">Por favor, digite sua nova senha duas vezes para que possamos verificar se você digitou corretamente.</p>

  <form method="post">{% csrf_token %}
  <fieldset>
      <div class="form-row field-password1">
          {{ form.new_password1.errors }}
          <label style="color: white;" for="id_new_password1" > &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;{% trans 'Nova senha:' %} &nbsp;</label>
          {{ form.new_password1 }}
      </div>
      <div class="form-row field-password2">
          {{ form.new_password2.errors }}
          <label style="color: white;" for="id_new_password2">{% trans 'Confirme a senha:' %} &nbsp;</label>
          {{ form.new_password2 }}
      </div>
      <input type="submit" style="background-color: white; color: #79aec8; margin-top:20px;" value="{% trans 'Trocar minha senha' %}">
  </fieldset>
  </form>
</div>
{% else %}
<div style="margin: 5%; padding: 5%; content: center; text-align: center; background-color: #79aec8; border: 3px solid lightgray; border-radius: 25px;">
<h1 style="color: white;">Erro ao entrar acessar link</h1>
<p style="color: white;"> O link de redefinição de senha era inválido, possivelmente porque já foi usado. Por favor, solicite uma nova redefinição de senha.</p>

</div>
{% endif %}

{% endblock %}
